*{
  margin: 0; 
  padding: 0; 
  box-sizing: border-box;
}

html, body {
  height: 100%;
  margin: 0;
}


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
  width: 100%;
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

footer {
  background-color: #f69d3c;
}


.bg-transparent {
  background-color: transparent; 
}

.glassmorphism {
  /* From https://css.glass */
  background: rgba(255, 255, 255, 0);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(7.7px);
  -webkit-backdrop-filter: blur(7.7px);
  border: 1px solid rgba(255, 255, 255, 0.53);
}


.section-header-hide  {
  color: transparent;
}
.section-header-wrapper .section-header {
  display: block;
  overflow: hidden;
  text-shadow:  5px 3px 5px black;
  border-right: .1em solid white;
  padding: 10px;
  white-space: nowrap; /* Keeps the content on a single line */
  letter-spacing: .15em; /* Adjust as needed */
  animation: 
    typing 1s steps(40, end),
    blink-caret .5s step-end infinite;
}

.github-icon:hover::before {
  content: 'GitHub'; 
  position: absolute;
  font-size: 12px;
  border: 1px solid grey;
  color: blue;
  border-radius: 10px;
  padding: 2px; 
  transform: translate(-120%, 50%);

}

.linkedin-icon:hover::before {
  content: 'LinkedIn'; 
  position: absolute;
  font-size: 12px;
  border: 1px solid grey;
  color: blue;
  border-radius: 10px;
  padding: 2px; 
  transform: translate(-120%, 50%);
}

.freecodecamp-icon:hover::before {
  content: 'FreeCodeCamp'; 
  position: absolute;
  font-size: 12px;
  border: 1px solid grey;
  color: blue;
  border-radius: 10px;
  padding: 2px; 
  transform: translate(-120%, 50%);
}

.codepen-icon:hover::before {
  content: 'CodePen'; 
  position: absolute;
  font-size: 12px;
  border: 1px solid grey;
  color: blue;
  border-radius: 10px;
  padding: 2px; 
  transform: translate(-120%, 50%);
}

.email-icon:hover::before {
  content: 'Email'; 
  position: absolute;
  font-size: 12px;
  border: 1px solid grey;
  color: blue;
  border-radius: 10px;
  padding: 2px; 
  transform: translate(-120%, 50%);
}






/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: white; }
}


/*---------------------------------------------------Nav-bar---------------------------------------------*/
nav {
  background-color: #f2f1f03f;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(7.7px);
  padding: 10px;
  border-bottom-right-radius: 16px;
  border-bottom-left-radius: 16px;

}
nav li a {
  color:white;
  padding: 10px;
  text-shadow:  5px 3px 5px black;
}

.border-bottom-green {
  border-bottom: 5px solid #7FFF00;

}

nav li a:hover {
  color: rgb(87, 87, 251);
  border-bottom: 5px solid #7FFF00
}

/*---------------------------------------------------Home-section---------------------------------------------*/



.my-name-wrapper {
  text-align: center;
  text-wrap: wrap;
  line-height: 1.1;
}

.my-name {
  font-size: 12vw;
  letter-spacing: 5px;
  font-weight: bold;
  color: transparent;
 /* -webkit-text-stroke: 2px black;*/
  background-image: radial-gradient(circle, #a04970, #6d6c83, #3b7f99);
  -webkit-background-clip: text;
  background-clip: text; 
}

/*---------------------------------------------------Project-section---------------------------------------------*/

/*---------------------------------------------------Contact-section---------------------------------------------*/
.contacts-info-wrapper {
  font-weight: bold;
  color: white;
}

/*---------------------------------------------------Background-Animation---------------------------------------------*/
.background-bubble:nth-child(odd) {
  animation: slide-up 5s ease;
}
.background-bubble:nth-child(even) {
  animation: slide-up 5s ease;
}


/*********************************************************Skills************************************************************/
/*
.skills-wrapper, .certificates-wrapper, .projects-image-container {
  transform: scale(0.5);
  opacity: 0;
}
  */
/*
.skill1 {
  animation: fade-in 500ms ease forwards; 
}

.skill2 {
  animation: fade-in 1s ease forwards; 
}
.skill3 {
  animation: fade-in 1.5s ease forwards; 
}
.skill4 {
  animation: fade-in 2s ease forwards; 
}

.certificate1 {
  animation: fade-in 500ms ease forwards; 
}

.certificate2 {
  animation: fade-in 1s ease forwards;
}
.certificate3 {
  animation: fade-in 1.5s ease forwards;
}
.certificate4 {
  animation: fade-in 2s ease forwards; 
}

.certificate5 {
  animation: fade-in 2.5s ease forwards;
}

.certificate6 {
  animation: fade-in 3s ease forwards;
}

@keyframes fade-in {
  0% { 
    transform: scale(0.5); 
    opacity: 0; 
  }
  100% { 
    transform: scale(1); 
    opacity: 1; 
  }
}
*/

/*
.skill2 {
  animation: slide-up 1s ease;
}
.skill3 {
  animation: slide-up 1.5s ease;
}
.skill4 {
  animation: slide-up 2s ease;
}

.certificate1 {
  animation: slide-up 500ms; 
}

.certificate2 {
  animation: slide-up 1s; 
}
.certificate3 {
  animation: slide-up 1.5s; 
}
.certificate4 {
  animation: slide-up 2s; 
}

.certificate5 {
  animation: slide-up 2.5s; 
}

.certificate6 {
  animation: slide-up 3s; 
}
*/
/***************************************************Projects***************************************************************/




.projects-image-wrapper {
  animation: fade-in 1.5s ease forwards; 
}

.project1:hover , .project2:hover, .project3:hover, .project4:hover, .project5:hover {
  background-color: rgb(234, 202, 98);
  border-radius: 16px 0 0 10px; 
}

.certificates-wrapper  {
  width: 400px; 
  height: 300px; 
}

.projects-image-wrapper, .projects-name-wrapper  {
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 1);
  border: 2px solid rgba(255, 255, 255, 0.53);
  cursor: pointer; 
}

/*
.project-table-header {
  animation: slide-left 800ms ease; 
}

.project1 {
  animation: slide-left 1s ease; 
}
.project2 {
  animation: slide-left 1.5s ease; 
}
.project3 {
  animation: slide-left 2s ease; 
}
*/


/*--------------------------------------------------------------------------------------------------------------------*/
/*--------------------------------------------------------------------------------------------------------------------*/
/*---------------------------------------------------------ANIMATION---------------------------------------------------*/
/*---------------------------------------------------------------------------------------------------------------------*/
/*---------------------------------------------------------------------------------------------------------------------*/

@keyframes slide-up {
      from {
        transform: translateY(5000%);
        opacity: 0.50; 
    }
    to {
        transform: translateY(0%);
        opacity: 1;
    }
}

@keyframes slide-left {
  from {
    transform: translateX(5000%);
    opacity: 0.50; 
}
to {
    transform: translateX(0%);
    opacity: 1;
}
}

@keyframes slide-right {
  from {
    transform: translateX(-5000%);
    opacity: 0.50; 
}
to {
    transform: translateX(0%);
    opacity: 1;
}
}


